# Runtime Generated
assets/

# Under Test
coverage/
.phpunit.cache/
junit-ext.xml
junit.xml

# Deployment
vendor/
composer.lock

# VS Code settings (optional)
.vscode/

# Core Files
core.*

# Scratchpads
/*.php
/*.diff
