<?xml version="1.0"?>
<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="File">
      <file>tests/File/Test.php</file>
    </testsuite>
    <testsuite name="Buffer">
      <file>tests/Buffer/Test.php</file>
    </testsuite>
    <testsuite name="Lock">
      <file>tests/Lock/Test.php</file>
    </testsuite>
    <testsuite name="Assets">
      <file>tests/Assets/Test.php</file>
    </testsuite>

    <testsuite name="Lexer\Exceptions">
      <file>tests/Lexer/Exceptions/Test.php</file>
    </testsuite>

    <testsuite name="Lexer\Scanning">
      <file>tests/Lexer/Scanning/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Token">
      <file>tests/Grammar/Token/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Directive\Start">
      <file>tests/Grammar/Directive/Start/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Directive\Lexer">
      <file>tests/Grammar/Directive/Lexer/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Directive\Token">
      <file>tests/Grammar/Directive/Token/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Directive\Context">
      <file>tests/Grammar/Directive/Context/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Directive\Include">
      <file>tests/Grammar/Directive/Include/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Generator">
      <file>tests/Grammar/Generator/TestNoAssets.php</file>
      <file>tests/Grammar/Generator/TestAssets.php</file>
    </testsuite>

    <testsuite name="Grammar\Lexer">
      <file>tests/Grammar/Lexer/Test.php</file>
    </testsuite>

    <testsuite name="Grammar">
      <file>tests/Grammar/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Basic">
      <file>tests/Grammar/Basic/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Pipe">
      <file>tests/Grammar/Pipe/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Sequence">
      <file>tests/Grammar/Sequence/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Pattern\Exceptions">
      <file>tests/Grammar/Pattern/Exceptions/Test.php</file>
    </testsuite>

    <testsuite name="Grammar\Pattern">
      <file>tests/Grammar/Pattern/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Priority">
      <file>tests/Grammar/Priority/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Ambiguity">
      <file>tests/Grammar/Ambiguity/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Quantifiers\Asterix">
      <file>tests/Grammar/Quantifiers/Asterix/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Quantifiers\Plus">
      <file>tests/Grammar/Quantifiers/Plus/Test.php</file>
    </testsuite>
    <testsuite name="Grammar\Quantifiers\Optional">
      <file>tests/Grammar/Quantifiers/Optional/Test.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude/>
  </source>
</phpunit>
